<tbody hx-swap-oob="beforeend:#table_body">
  {{#each elements as |element|}}
    <tr class="" >
        <td>{{element.name}}</td>
        <td>{{element.number}}</td>
        <td>{{element.atomic_mass}}</td>
        <td>{{element.density}}</td>
    </tr>
  {{/each}}
</tbody>

<button  
      hx-get="?offset={{offset}}&limit={{limit}}&partial=true"
      hx-swap="outerHTML" 
      class="pure-button">
      Load More
</button>