<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="htmx-config" content='{"useTemplateFragments":true}'>
    <style>
      body { font-size: 18px; } 
      .container { margin: 1rem auto; max-width: 36rem; }
      .warning {
        color: red;
      }
    </style>

  </head>
  <body>
    <main class="container">
      <h1>HTMX enhanced table example</h1>
      <table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Atomic Mass</th>
            <th>Density</th>
        </tr>
    </thead>
    <tbody id="table_body">
      {{#each elements as |element|}}
        <tr class="">
            <td>{{element.name}}</td>
            <td>{{element.number}}</td>
            <td>{{element.atomic_mass}}</td>
            <td>{{element.density}}</td>
        </tr>
        {{/each}}
   
    </tbody>
</table>
 
  <div class="htmx-indicator">Loading..</div> 
  <button  
      hx-get="?offset={{offset}}&limit=25&limit={{limit}}&partial=true"
      hx-swap="outerHTML" 
      class="pure-button">Load More</button>



  </body>
</html>