{{#each elements as |element|}}
  <tr class="">
      <td>{{element.name}}</td>
      <td>{{element.number}}</td>
      <td>{{element.atomic_mass}}</td>
      <td>{{element.density}}</td>
  </tr>
  
{{/each}}

 <tr id="replaceMe">
      <td colspan="4">
        <div class="htmx-indicator">Loading..</div>
        <button  
        hx-get="?offset={{offset}}&limit=5&partial=true"
        hx-target="#replaceMe"
        hx-swap="outerHTML" 
        class="pure-button">Load More</button>

      </td>
    </tr>